[ req ]
default_bits        = 2048
distinguished_name  = req_distinguished_name
x509_extensions     = v3_ca
prompt              = no

[ req_distinguished_name ]
C  = IN
ST = DIU
L  = DIU
O  = IIITVICD
OU = CSE
CN = 192.168.89.32

[ v3_ca ]
basicConstraints = CA:TRUE
keyUsage = critical, keyCertSign, cRLSign
subjectKeyIdentifier = hash
